.container {
    display: flex;
    justify-content: center;
}

.searchBar {
    height: 2em;
    width: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: 0;
    padding: 15px;
    background-color: #b9ddf8;
    color: #000000;
    box-shadow: 0 1px 9px rgba(7, 0, 46, 0.4) inset;
}

.searchBar:focus {
    border: 1px solid rgb(75, 75, 255);
    
}
